<html>

<head>
    <title>Login</title>
</head>

<body style="text-align: center;">
    <header>
        <h1>Login</h1>
    </header>
    <form action="/processlogin" method="POST">
        <label>Name</label>
        <input name="userid" type="text" required />
        <br />
        <br />
        <label>Password</label>
        <input name="password" type="password" />
        <br />
        <br />
        <input type="submit" value="Log in" />

    </form>
    <a href="/reg">
        <button>Register Page</button>
    </a>
</body>

</html>