<html>

<head>
    <title>
        Rate
    </title>
</head>

<body>
    <header>
        <h1>Rate</h1>
    </header>
    <form action="/rate?_id=<%= _id %>" method="POST">
        <p>
            <label>Score (1-10):</label>
            <input name="score" type="number" min="1" max="10" maxlength="2" required>
        </p>
        <p>
            <input type="submit" value="Rate">
        </p>
    </form>
</body>

</html>