<html>

<head>
    <title>Delete success</title>
</head>

<body>
    <header>
        <h1>Info</h1>
        <p>Delete was successful</p>
        <a href="/read">
            <button>home</button>
        </a>
    </header>
</body>

</html>