<html>

<head>
    <title>Search</title>
</head>

<body>
    <h1>Search Restaurant</h1>
    <form action='/searchresult'>
        <p>
            <label>name:</label>
            <br>
            <input name='name' type="text">
        </p>
        <p>
            <label>borough:</label>
            <br>
            <input name='borough' type="text">
        </p>
        <p>
            <label>cuisine:</label>
            <br>
            <input name='cuisine' type='text'>
        </p>
        <input type="submit" value="search">
    </form>
    <a href="/read">
        <button>Go Back Home</button>
    </a>
</body>

</html>